/* estilos de listado de analisis */
.select-div-tip{
  color: #808080;
  position: relative;
  left: -50px;
  top:-15px;
  font-size: 1rem;

}

.overlay-edit{
    background-color: rgba(128, 128, 128, 0.44);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(2px);
    height: 100%;
    z-index: 9;

}
option{
  color: #808080;
}
.select-tipe{
  border: none;
  border-radius: 7px;
  outline: none;
  position: relative;
  top: -14px;
  width: 55%;
  color: black;


}


.btn-desactivar-d {
  background-color:gainsboro;
  color: black;
  font-weight: bold;
  padding: 8px 16px;
  margin: 8px;
  position: relative;
  float: right;
  right: -5px;
  top: 31px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-desactivar-d:hover{
  background-color:#B31312;
  color: #f2f2f2;
}

.div-input-d{
  color: #808080;
}

.btn-activar-d {
  background-color:gainsboro;
  color: black;
  font-weight: bold;
  padding: 8px 16px;
  margin: 8px;
  float: right;
  right: -5px;
  top: 31px;
  position: relative;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-activar-d:hover{
  color: white;
  background-color:#008000;

}

.input-edit-ana{
  left: 0.1px;
  top: 0.1px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  box-sizing: border-box;
  background-color: rgb(234, 241, 243);
  color: rgba(128, 128, 128, 0.743);
}
.titleanalisis{
justify-content: center;
text-align: left;
font-weight: bold; 
position: relative;
font-family: Arial, Helvetica, sans-serif;
color:#168A45;
font-size: 1.5rem;
}

.btn-registrar-d{
display: flex;
position: relative;
width: 75px;
padding: 10px 10px;
background-color:#168A45; 
color:white;
left: 150px;
top: -15px;
position: relative;
text-decoration: none;
border: none;
height: 30px;
align-items: center;
justify-content: center;
border-radius: 4px;
cursor: pointer;
font-size: 1rem;
/* border: 1px solid grey; */
font-weight: bold;

}
/* .btn-registrar-d:hover {
background-color: #0b2e4be7;

} */
 .contTitle{
  position: relative;
  top: 56px;
  left: 26px;
  background-color: white;
  border-radius: 8px;
  width: 93%;
  height: 70px;
}
.titleanalisis{
  position: relative;
  left: 35px;
  font-size: 1.5rem;
  top: 25px;
}

.btn-actualizar-d{ 
color: black;
position: relative;
font-weight: bold;
padding: 8px 16px;
border: none;
left: 85px;
top: 40px;
margin-bottom: 14px;
border-radius: 4px;
cursor: pointer;
background-color: gainsboro;
/* border: 0.5px solid grey; */
transition: background-color 0.3s; 
}
.btn-actualizar-d:hover{
  background-color: #008000;
  color: white;
}
.btn-actualizar-mod{
color: white;
background-color: #168A45;
position: relative;
font-weight: bold;
padding: 8px 16px;
border: none;
top: 10px;
margin-left: 15px;
margin-bottom: 14px;
border-radius: 4px;
cursor: pointer;
/* border: 1px solid gray; */


}
/* 
.btn-actualizar-mod:hover {
background-color:#0b2e4be2; 
} */

.tablaAnalisis{
/* display: inline-table; */
/* justify-content: center;
align-items: center; */
position: relative;
top: 95px;
left: 26px;
width: 93%;
height: 1000rem;
overflow: hidden;
border-radius: 8px;
}
 .encabezado{
 position: relative;
top: 100px;
width: 100%;
 left: 135px;
 text-align: center;
 color: #808080;
}

.cuerpodatos{
  position: relative;
  left: 135px;
  top: 124px;
  width: 100%;
  text-align: center;
  color: #808080;

}
  

/* 
estilos de registro de analisis css */
.contRegistrarAna{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
  max-height: 95%;
  max-width: 90%;
  height: 500px;
  width: 500px;
  text-align: center;

}
.EditCampos input{
  width: 95%;
  position: relative;
  left: -25px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px rgb(153, 151, 151) solid;
  color: rgb(0, 0, 0);
  outline: none;

}
.contRegistrarAna input{
  width: 85%;
  position: relative;
  left: -25px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px rgb(153, 151, 151) solid;
  color: rgb(0, 0, 0);
  outline: none;

}
.contenido-regi-d{
background-color: rgb(138, 138, 156);
width: 70%;
height: 600px;

}
.titleRegistrar{
text-align: center;
color: #168A45;
margin-top: 13px;
font-size: 1.5rem;
font-weight: bold;
}
.cuerpodatos{
  border-radius: 8px;

}
.formRegiAna{
  display: block;
  top: 90px;
  position: relative;
}
.overlay-d{
  background-color: rgba(128, 128, 128, 0.44);
  position: fixed;
  top: 0;
  backdrop-filter: blur(2px);
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.input-search-d{
  background-color:rgb(255, 255, 255);
}
.select-option-input-d{
  display: block;
  position: absolute;
  color: black;
  background-color: rgb(255, 255, 255);
  width: 100%;
  z-index: 1;
  top: 100%;
  max-height: 100px;
  overflow: auto;
  text-align: left;
  padding: 10px;
  font-size: 11px;
  display: none;

}
.contRegistrarAna div {
  margin-bottom: 15px;
}


.select-option-input-d>div {

  margin: 0 !important;
  padding: 0 !important;
  padding: 5px !important;
  cursor: pointer;
  border-radius: 4px;
}

.select-option-input-d>div:hover {

  background-color: #80808024;
  display: block;
}
.btn-register-d{
  display: flex;
  padding: 10px 10px;
  background-color:#168A45; 
  color: white;
  float: right;
  right: 59px;
  top: 50px;
  position: relative;
  text-decoration: none;
  border: none;
  height: 38px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
.contRegistrarAna input + label{
  position: absolute;
  top: 2%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  
}
.contRegistrarAna input:focus + label,
.contRegistrarAna:not(:placeholder-shown) + label {
  transform: translateY(-130%) scale(1.2) ;
  font-size: 12px;
  color: rgb(0, 0, 0);
  top: 10px;
  transition: all 0.5s;
}
.close-modal-Ana{
  position: absolute;
  top: -150px;
  right: -10px;
  background: none;
  border: none;
  color: #168A45;
  font-size: 36px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 4px;
  
}

.input-search-d{
  color: #808080;
  background-color: whitesmoke;
}

.div-input-d{
  color: black;
  position: relative;
}

.select-invisility {

  width: 0;

  height: 0;

}
.option-select-focus {
  background-color: rgb(61 194 145);

}
label{
  color: #808080;

}
.tipe-ana{
  left: -32px;
  position: relative;
  top: -15px;
}
select{
  position: relative;
  top: -12px;
  width: 60%;
  background-color: whitesmoke;
  text-decoration: none;
}
/* styles from tableEditAna */

.tablaEditAna{
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9;
}
.contEditAna{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
  max-height: 95%;
  max-width: 90%;
  height: 500px;
  width: 500px;
  text-align: center;
}
.tablaEditAna input{
  width: 95%;
  position: relative;
  left: 5px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px rgb(153, 151, 151) solid;
  color: rgb(0, 0, 0);
  outline: none;

}
.EditCampos{
  position: fixed;
  z-index: 1001;
  width: 90%;
  position: relative;
  top: 60px;

}
.titleEditAna{
  position: relative;
  top: 25px;
  text-align: center;
  font-size: 1.5px;
  color: #168A45;
  font-size: 1.5rem;
  font-weight: bold;
  
}
 .EditCampos .labelEdit{
  color: #808080;
  text-align: left;
  display: flex;
  left: 25px;
  top: -81px;
  position: relative;
}
.close-modal-Edit{
  position: absolute;
  top: -118px;
  right: -45px;
  background: none;
  border: none;
  color: #168A45;
  font-size: 36px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 4px;

}