* {
    padding: 0;
    margin: 0;
}

.main-container-dasboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: calc(100vh + 50px); */
    height: 100vh;
    /* background-color: rgb(245, 7, 7); */
    background-color: rgb(235, 240, 245);
}


.content-container {
    width: 100%;
    max-width: 100%;
}

.container-outlet {
    display: flex;
    /* background-color: #9de617; */

}

.nav {
    top: 0;
    left: 0;
    width: 90px;
    height: 96vh;
    /* Ajusta la altura al viewport del navegador */
    color: #fff;
    /* padding: 20px; */
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
    /* background-color: #0B2E4B; */
    transition: all 800ms;
}
.contenedor-imagen {
    width: 100%;
    height: 100vh; 
    background-color: #168A45;
    background-size: cover;
    background-position: center; 
    } 




.lista-items ul {

    display: flex;
    flex-direction: column;
    /* gap: 2vh; */
    align-items: start;
    justify-content: start;
    text-align: center;
    /* overflow: hidden; */
    /* margin-left: 100; */
    margin-left: -30px;
    max-height: 700px;

}

.lista-items ul li p {
    margin-top: 1rem;

}

.lista-items ul li {
    /* margin-top: 1rem; */
    /* position: relative; */
    display: inline-flex;

    right: 0;
    left: 0;


}

.icon-menu {
    font-size: 1.5em;
    margin-left: 12px;
    /* position: relative;
    left: 0;
    right: 0; */

}


/* /////////////////////////////////////HEAD NAV (Title,User name)////////////////////// */
/* HEAD */

.header {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto;
    /* Corregí la propiedad incorrecta */
    grid-template-rows: 50px;
    /* Agregué esta línea para definir la altura */
    width: 100%;
    height: 50px;
    /* Establece una altura fija para el encabezado */
    background-color: #168A45;
    /* backdrop-filter: blur(10px); */
    align-items: center;
    /* Centra verticalmente los elementos */
}

/* Estilos para el logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo svg {
    width: 130px;
    /* Ajusta el tamaño del logo */
    height: auto;
    fill: white;
    /* Cambia el color del logo */
    height: 40px;
}

/* Estilos para el título del dashboard */
.title-dasboard {
    margin: 0;
    font-size: 20px;
    /* Reduce el tamaño del título */
    color: white;
    /* Cambia el color del texto */
}

/* Estilos para el nombre de usuario */
.username {
    margin-left: auto;
    /* Mueve el nombre de usuario hacia la derecha */
    margin-right: 100px;
    /* Agrega un pequeño margen a la derecha */

}

/* Otros */
.empty {
    flex: 1;
}


.container-title-dasboard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    justify-content: center;
    transition: all 820ms;
}

.container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo {
    width: 50px;
    /* background-color: green; */
}

.container-title-dasboard:hover {
    color: rgb(50, 12, 204);
    cursor: pointer;
}

.empty {
    height: 100%;
}

.title-dasboard {
    font-size: 2em;
    font-weight: 400;
    color: white;
}

/* Username */
.container-username {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
    /* top: -2px; */
    transition: all 820ms;
    color: white;
    text-decoration: none;
    /* background-color: red; */

}

.container-username:hover {
    color: gainsboro;
    cursor: pointer;
}

.FaUser {
    font-size: 1.5em;
    padding-right: 20px;
    /* margin-top: 16px; */
    font-size: 2em;
    /* color: white;   */
}

.username h2 {
    /* margin-top: 12px; */
    font-size: 1.5em;
    /* color: white;   */
    margin-top: 8px;
}
.username h3 {
    /* margin-top: 12px; */
    font-size: 1.2em;
    margin-top: -10px;
    /* color: white;   */
    /* margin-top: 2px; */
}


/* /////////////////////////////////////////////////////LISTA ITEMS////////////////////////////////////////////////// */
.lista-items {
    /*
    display: table-column-group;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; */
    width: 100%;
    /* height: 100%; */
    /* background-color: aqua; */
    /* max-height: 97%; */

}

.nav ul li a,
.first-icon {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    /* Establece el color de texto deseado */
    overflow: hidden;

}

.lista-items ul li :hover,
.first-icon:hover {
    /* background-color: rgba(196, 11, 11, 0.918); */
    border-radius: 10px;
    cursor: pointer;
    color: #168A45;
}

.lista-items ul li {
    display: flex;
    height: 50px;
    padding: 5px 5px 5px 12px;
    width: 100%;
    font-size: 1em;
    transition: all 6ms;

}

.lista-items ul li p {
    width: 200px;
    /* Ajusta el tamaño del contenedor según tus necesidades */
    white-space: nowrap;
    /* Evita el salto de línea */
    overflow: hidden;

}

.icon {
    margin-right: 32px;
}

.lista-items ul li:hover {
    background-color: #fff;

    /* color: rgb(204, 153, 12); */
    border-radius: 10px;
    cursor: pointer;
    color: #168A45;
}

/* .fondo{
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
} */
.first-icon {
    margin-top: 22px;
}

/* .main-tooltip-li{
    width: 12px;
    height: 12px;
} */

/* .tooltip-li{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

} */
/* .li-dasboard ul li .tooltip-li{
    margin-top:12px ;
} */
.tooltip {
    position: absolute;
    background-color: rgba(211, 21, 21, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    z-index: 999;
    top: calc(100% + 5px);
    /* Posiciona el tooltip debajo del elemento */
    left: 50%;
    /* Lo coloca en el centro horizontalmente */
    transform: translateX(-50%);
    /* Lo ajusta para que esté centrado horizontalmente */
    display: none;
    /* Inicialmente oculto */
}

.tooltip-content {
    position: absolute;
    /* Cambia la posición según tu diseño */
    background-color: rgba(0, 0, 0, 0.8);
    /* Color de fondo del tooltip */
    color: white;
    /* Color del texto del tooltip */
    padding: 5px;
    /* Espacio interno del tooltip */
    border-radius: 5px;
    /* Borde redondeado */
    z-index: 9999;
    /* Asegura que esté por encima de otros elementos */
    left: 50px;
}

.li-dasboard:hover .tooltip {
    display: block;
    /* Muestra el tooltip cuando se hace hover en el contenedor */
}


#mainConterDasboard {
    display: grid !important;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    width: 100%;
    position: fixed;
    height: 100%;
}

.container-outlet {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
}

#nav{
    height: 100%;
}
.row>*{
    margin: 0 !important;
    padding: 0 !important;
}