/* Estilos CSS para la tabla con clase table1 */

.fondo2 {
  z-index: -999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


.table1 {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table1 th,
.table1 td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table1 th {
  background-color: rgba(30, 30, 30);
  color: white;
}

.table1 tr:hover {
  background-color: #968c8c;
}

.border-t {
  background-color: #2980b9;
  color: rgb(255, 255, 255);
}

/* 
//estilos fincas registrar// */


/* editar fincas */


.container {
  max-width: 600px;
  margin: 0 auto;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary {
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #e74c3c;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-tertiary {
  background-color: #2ecc71;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* listar fincas */


.fondo2 {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

.tablalistar {
  backdrop-filter: blur(10px);
  width: 100%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(30, 30, 30, 50%);
  border-bottom: 1px black solid;
  max-height: 900px;
  /* Altura máxima para la tabla */
  overflow-y: auto;
  /* Agrega scroll vertical si el contenido excede la altura máxima */
}

.titu {
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: rgb(241, 241, 241);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


/* styles.css */

.tableprincipal {
  width: 20%;
  border-collapse: collapse;
  margin-top: 20px;
  /* Espaciado superior */
  border: none;
}

.tableprincipal th,
.tableprincipal td {

  padding: 8px;
  text-align: left;
  color: white;
}

.tableprincipal th {
  background-color: rgb(94, 79, 38);
  /* Color de fondo más claro para encabezados */
}

.tableprincipal tr {
  background-color: transparent;

}

.btn-primary {
  background-color: #0099ff;
  /* Color de fondo del botón */
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  /* Efecto de transición al pasar el ratón */
}

.btn-primary:hover {
  background-color: #207bb5;
  /* Cambio de color al pasar el ratón */
}



/*css para el boton de registrar finca*/
/* En tu archivo fincas.css */

.btn-registrar {

  display: inline-block;
  width: 150px;
  padding: 10px 20px;
  background-color: #4CAF50;
  /* Color de fondo */
  color: white;
  /* Color del texto */
  text-decoration: none;
  /* Quitar subrayado del enlace */
  border: none;
  /* Quitar borde */
  border-radius: 4px;
  /* Añadir esquinas redondeadas */
  cursor: pointer;
  /* Cambiar cursor al pasar por encima */
  font-size: 16px;
  /* Tamaño del texto */
}

.btn-registrar:hover {
  background-color: #56b15a;
  /* Cambiar color de fondo al pasar por encima */
}



/*modal css*/
/* En tu archivo fincas.css */
/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}



.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.btn-registrar {
  display: block;
  margin-top: 20px;
  background-color: #28a745;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
}

/* Estilos del modal */
body.modal-open {
  overflow: hidden;
  /* Evitar el desplazamiento de la página mientras el modal está abierto */
  background-color: #007bff;
}


.tabla3 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(37, 25, 25, 0.8);
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
  max-height: 95%;
  max-width: 70%;
  /* Ajusta el ancho máximo según tus necesidades */
  width: 400px;
  /* Ajusta el ancho según tus necesidades */
  text-align: center;
  /* Centra el contenido */
}

.tabla3 h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #fff;
  /* Ajusta el color del texto según tus necesidades */
}

.input-field {
  width: 100%;
  padding: 8px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-modal {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #dc3545;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* Fondo semitransparente */
  z-index: 999;
  /* Valor superior al z-index del modal */
}



/* estilos de registrar css*/
.div-input {
  margin-bottom: 16px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

select {
  background-color: transparent ;
  color: white;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Estilo para desactivar la primera opción "Seleccione un municipio" */
select option[disabled] {
  color: #ffffff;
}

/* Estilo para las opciones del select */
select option {
  padding: 8px;
  background-color: rgb(0, 0, 0, 0.5);
}


.btn-blue {
  background-color: #000000;
  color: #fff;
  font-weight: bold;
  padding: 8px;

  border-radius: 4px;
  outline: none;
}

.btn-blue:hover {
  background-color: #0056b3;
}

.btn-blue:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}



.input-reg {
  width: 100%;
  padding: 8px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}




.tabla2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(37, 25, 25, 0.8);
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
  max-height: 98%;
  max-width: 70%;
  /* Ajusta el ancho máximo según tus necesidades */
  width: 40px;
  /* Ajusta el ancho según tus necesidades */
  text-align: center;
  /* Centra el contenido */
  margin: 0 auto;
}

.tabla2 h1 {
  font-size: 1.5em;
  margin-bottom: 1px;
  color: #fff;
  /* Ajusta el color del texto según tus necesidades */
}

.input-field {
  width: 100%;
  padding: 8px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-modal {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #dc3545;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo semitransparente */
  z-index: 999;
  /* Valor superior al z-index del modal */
}


/*busqueda fincas*/

.search-container {
  position: absolute;
  top: 66px;
  right: 0;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #212121;
  color: white;
}



.search-container input::placeholder {
  color: #ffffff; /* Placeholder blanco */
}



