/* Estilos CSS para la tabla con clase table1 */

.fondo2 {
  z-index: -999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


.table1 {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table1 th,
.table1 td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table1 th {
  background-color: rgba(30, 30, 30);
  color: white;
}

.table1 tr:hover {
  background-color: #968c8c;
}

.border-t {
  background-color: #2980b9;
  color: rgb(255, 255, 255);
}

/* 
//estilos fincas registrar// */


/* editar fincas */


.container {
  max-width: 600px;
  margin: 0 auto;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-actu {
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-desactivar-finca{
  background-color: #e74c3c;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px ;
    border: #007bff;
    outline: none;
    margin: 8px;
}
.btn-desactivar-finca:hover{
  background-color: #f63c27 !important;
}
.btn-activar-finca{
  background-color: rgb(73, 191, 73);
    color: #fff;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px ;
    border: #007bff;
    outline: none;
    margin: 8px;
}
.btn-activar-finca:hover{
  background-color: #20f05b !important;
}
/*usuario-label*/
/* Styles for the label */
.usuario-label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

/* Styles for the custom dropdown */
.custom-dropdown {
  position: relative;
  margin-top: 5px;
  width: 100%;
}

/* Styles for the dropdown options */
.custom-dropdown-option {
  padding: 10px;
  cursor: pointer;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-top: 2px;
  transition: background-color 0.3s ease;
}

.custom-dropdown-option:hover {
  background-color: #1b1b1b;
}

/* Optional: Style for the selected option */
.custom-dropdown-option.selected {
  background-color: #3498db;
  color: #000000;
}

/* Optional: Style for hiding dropdown when not needed */
.custom-dropdown.hidden {
  display: none;
}

/* listar fincas */


.fondo2 {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

.tablalistar {
  backdrop-filter: blur(10px);
  width: 100%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(30, 30, 30, 50%);
  border-bottom: 1px black solid;
  max-height: 900px;
  /* Altura máxima para la tabla */
  overflow-y: auto;
  /* Agrega scroll vertical si el contenido excede la altura máxima */
}


/* styles.css */

.tableprincipal {
  width: 20%;
  border-collapse: collapse;
  margin-top: 20px;
  /* Espaciado superior */
  border: none;
}

.tableprincipal th,
.tableprincipal td {

  padding: 8px;
  text-align: left;
  color: white;
}

.tableprincipal th {
  background-color: rgb(94, 79, 38);
  /* Color de fondo más claro para encabezados */
}

.tableprincipal tr {
  background-color: transparent;

}

.btn-actu {
  background-color: #0099ff;
  /* Color de fondo del botón */
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  /* Efecto de transición al pasar el ratón */
}

.btn-actu:hover {
  background-color: #207bb5;
  /* Cambio de color al pasar el ratón */
}



/*css para el boton de registrar finca*/
/* En tu archivo fincas.css */

.btn-registrar {

  display: inline-block;
  width: 150px;
  padding: 10px 20px;
  background-color: #4CAF50;
  /* Color de fondo */
  color: white;
  /* Color del texto */
  text-decoration: none;
  /* Quitar subrayado del enlace */
  border: none;
  /* Quitar borde */
  border-radius: 4px;
  /* Añadir esquinas redondeadas */
  cursor: pointer;
  /* Cambiar cursor al pasar por encima */
  font-size: 16px;
  /* Tamaño del texto */
}

.btn-registrar:hover {
  background-color: #56b15a;
  /* Cambiar color de fondo al pasar por encima */
}



/*modal css*/
/* En tu archivo fincas.css */
/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}



/* .btn-actu {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
} */

.btn-registrar {
  display: block;
  margin-top: 20px;
  background-color: #28a745;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
}

/* Estilos del modal */
body.modal-open {
  overflow: hidden;
  /* Evitar el desplazamiento de la página mientras el modal está abierto */
  background-color: #007bff;
}


.tabla-editar {
  border: 2px solid rgb(165, 165, 165);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
  max-height: 95%;
  max-width: 70%;
  /* Ajusta el ancho máximo según tus necesidades */
  width: 400px;
  /* Ajusta el ancho según tus necesidades */
  text-align: center;
  /* Centra el contenido */
}
.tabla-editar h1 {
  color: rgb(0, 0, 0);
  text-decoration: none   ;
  text-align: center;
  font-weight: bold;

  font-size: 1.5rem;
  margin: 20px 0;
}

.tabla-editar div {
  margin-bottom: 15px;
}

.tabla-editar input {
  width: 100%;
  padding: 10px;
  /* border-bottom: 1px solid #ccc; */
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom:1px rgb(153, 151, 151) solid;
  color: rgb(0, 0, 0);
  outline: none;
}

/* Efecto del placeholder */
.tabla-editar input + label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 16px;
  pointer-events: none;
  transition: transform 0.3s, font-size 0.3s, color 0.3s;
  
}

/* Placeholder transformado al enfocar el campo */
.tabla-editar input:focus + label,
.tabla-editar input:not(:placeholder-shown) + label {
  transform: translateY(-100%) scale(1.2);
  font-size: 12px;
  color: rgb(255, 255, 255);
  top: 10px;
  transition: all 0.5s;
}



.tabla-editar button:hover {
  background-color: #2980b9;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-modal {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000000;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border: 2px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.278);
  /* Fondo semitransparente */
  z-index: 9;
  /* Valor superior al z-index del modal */
}



/* estilos de registrar css*/

.input-register{
  left: 0.1px;
  top: 0.1px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  box-sizing: border-box;
  background-color: rgb(250, 249, 249);
  color: rgb(0, 0, 0);
}
select option {
  color: #000000;
  background: white;
}



.tabla-regis {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
  max-height: 95%;
  max-width: 90%;
  /* Ajusta el ancho máximo según tus necesidades */
  width: 400px;
  /* Ajusta el ancho según tus necesidades */
  text-align: center;
  /* Centra el contenido */
}
.tabla-regis h1 {
  color: rgb(0, 0, 0);
  text-decoration: none   ;
  text-align: center;
  font-weight: bold;

  font-size: 1.5rem;
  margin: 20px 0;
}

.tabla-regis div {
  margin-bottom: 15px;
}

.tabla-regis input {
  width: 100%;
  padding: 10px;
  /* border-bottom: 1px solid #ccc; */
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom:1px rgb(153, 151, 151) solid;
  color: rgb(0, 0, 0);
  outline: none;
}

/* Efecto del placeholder */
.tabla-regis input + label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #000000;
  font-size: 16px;
  pointer-events: none;
  transition: transform 0.3s, font-size 0.3s, color 0.3s;
  font-weight: bold;
}

/* Placeholder transformado al enfocar el campo */
.tabla-regis input:focus + label,
.tabla-regis input:not(:placeholder-shown) + label {
  transform: translateY(-100%) scale(1.2);
  font-size: 12px;
  color: rgb(0, 0, 0);
  top: 10px;
  transition: all 0.5s;
}

.tabla-regis button {
  color: #000000;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tabla-regis button:hover {
  background-color: #207bb5;
}




/* Estilo para desactivar la primera opción "Seleccione un municipio" */
select option[disabled] {
  color: #ffffff;
}

/* Estilo para las opciones del select */
select option {
  padding: 8px;
  background-color: rgb(0, 0, 0, 0.5);
}


.btn-blue {
  background-color: #000000;
  color: #fff;
  font-weight: bold;
  padding: 8px;

  border-radius: 4px;
  outline: none;
}

.btn-blue:hover {
  background-color: #0056b3;
}

.btn-blue:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}



.input-reg {
  width: 100%;
  padding: 8px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}






.input-field {
  width: 100%;
  padding: 8px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-modal {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}





/*busqueda fincas*/

.search-container {
  position: absolute;
  top: 66px;
  right: 0;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #212121;
  color: white;
}



.search-container input::placeholder {
  color: #ffffff;
  /* Placeholder blanco */
}



.h6-error {
  color: rgb(255, 46, 49);
  font-size: 0.8em;
}



/*hover de ver lotes en fincas*/
.btn-group {
  position: relative;
}

.btn-secondary .btn-subgroup {
  display: none;
  position: absolute;
  top: calc(0% - 15px);
  left: 100%;
  padding: 0px 10px;
  box-shadow: 0 2px 4px rgba(189, 10, 10, 0.1);
}

.btn-secondary:hover .btn-subgroup {
  display: block;
}

.btn-ver {
  display: block;
  font-size: 0.9em;
  width: 110px;
  margin: 4px;
  height: 30px;
  padding: 8px;
  text-align: left;
  background-color: rgb(25, 135, 84);
  color: #ffffff;
  border: 1px;
  /* Borde alrededor del botón */
  border-radius: 4px;
  /* Bordes redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.btn-ver:hover {
  background-color: #438070;
  
}

.btn-group {
  position: relative;
}


/*css de modal de lotes*/
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}



.modal {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.modal-header {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h5 {
  margin: 0;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: right;
}

.btn {
  cursor: pointer;
  padding: 8px 16px;
  margin-left: 8px;
  border: none;
  border-radius: 4px;
  color: #fff;
}

.btn-primary {
  background-color: #3498db;
}

.btn-secondary {
  background-color: #e74c3c;
  position: relative;
}

.btn-tertiary {
  background-color: #2ecc71;
}

.close {
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.close:hover {
  color: #ff1d1d;
}

.modal-ver-lotes {
  background-color: transparent;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;


}

.modal-ver-lotes>div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.modal-ver-lotes .modal-body{
  overflow: auto;
}


.modal-contents {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  z-index: 999;
}

.span-no-registra{
  color: #d4d4d4;
  font-weight: bolder;
  text-decoration: line-through;
}


.modal-ver-lotes{
  z-index: 2 !important;
}

.button-estado{
  padding: 5px 10px;
  border-radius: 4px;
  border: unset;
  color: white;
}
.button-activo{
  background-color: green;
}
.container-listado{
  background-color: white;
}
.titulo-listado {  
  margin-left: 10%;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  position: relative;
  top: 50px; /
}

.fondo-over{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.278);
  width: 100%;
  height: 100%;
}
.modal-div-fin{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}
.modal-dialog{
  width: 1300px !important;
  max-width: 100% !important;
}


.tabla-regis-finca{
  background-color: red;
}
div.dt-container div.dt-search label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
  color: rgb(0, 0, 0);
}

.container-listado{
  background-color: #ebf0f5;

}
.container-outlet{
  background-color: #ebf0f5;
}

select option{
  color: #000000;
}

.labeledit{
 transform: translateY(100%) scale(1.2);
 margin-right: 80%;
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  left: 10px;
  transition: all 0.5s;
}