.contenedor-principal {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* Tres columnas */
  grid-gap: 15px; /* Espacio reducido entre contenedores */
  padding: 20px;
 
}

.analytics-container,
.order-container,
.other-data {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #ecf0f1; /* Color del texto */
  height: 200px; /* Altura aumentada */
  width: 55 0px;
}

.analytics-item,
.order-item,
.data-item,
.new-order-item {
  text-align: center;
  margin-bottom: 10px; /* Reducir el espacio inferior */
}

.analytics-item p,
.order-item p,
.data-item p,
.new-order-item p {
  margin: 5px 0;
  font-weight: bold;
}

.analytics-item .name,
.order-item .name,
.data-item .name,
.new-order-item .name {
  color: #3498db; /* Color para los nombres */
}

.analytics-item .value,
.order-item .value,
.data-item .value,
.new-order-item .value {
  font-size: 24px;
  color: #2ecc71; /* Color para los valores */
}

.analytics-item .description,
.data-item .description {
  color: #95a5a6; /* Color para las descripciones */
}

.order-item .percentage {
  color: #27ae60; /* Color para los porcentajes */
}

.order-item .date,
.data-item .date {
  color: #c0392b; /* Color para las fechas */
}

.additional-container {
  display: flex;
  height: 20px;

}

.new-order-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: #ecf0f1;
  margin-right: 20px; /* Espacio entre los nuevos contenedores */
  width: 500px; /* Ancho de los nuevos contenedores */
  height: 405px;
}
.new-order-container2 {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: #ecf0f1;
  margin-right: 20px; /* Espacio entre los nuevos contenedores */
  width: 500px; /* Ancho de los nuevos contenedores */
  height: 307px;
}

.new-order-item {
  text-align: center;
  margin-bottom: 20px;
}

.new-order-item p {
  margin: 5px 0;
  font-weight: bold;
}

.new-name {
  color: #3498db;
}

.new-value {
  font-size: 24px;
  color: #2ecc71;
}

.double-width-container {
  grid-column: span 2; /* Ocupa el ancho de dos columnas */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 100px;
  color: #ecf0f1;
}


