.title-municipio {
  color: rgb(0, 0, 0);
  font: bold;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.bgr-m {
  background-color: rgb(234, 241, 243);
}

/* css de registrar y actualizar municipio */

.btn-act-municipio {
  background-color: #007bff;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.table-register-municipio {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
  max-height: 95%;
  max-width: 90%;
  /* Ajusta el ancho máximo según tus necesidades */
  width: 400px;
  /* Ajusta el ancho según tus necesidades */
  text-align: center;
  /* Centra el contenido */
}
.table-register-municipio h1 {
  color: rgb(0, 0, 0);
  text-decoration: none   ;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 20px 0;
}

.table-register-municipio div {
  margin-bottom: 15px;
}

.table-register-municipio input {
  width: 100%;
  padding: 10px;
   border-bottom: 1px solid #ccc; 
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom:1px rgb(153, 151, 151) solid;
  color: rgb(0, 0, 0);
  outline: none;
}

.table-register-municipio input + label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: transform 0.3s, font-size 0.3s, color 0.3s;
  color: black;
  
}

/* Placeholder transformado al enfocar el campo */
.table-register-municipio input:focus + label,
.table-register-municipio input:not(:placeholder-shown) + label {
  transform: translateY(-100%) scale(1.2) ;
  font-size: 12px;
  color: rgb(0, 0, 0);
  top: 10px;
  transition: all 0.5s;
}

.btn-register-municipio{
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: #007bff;
  font-size: 16px;
  transition: background-color 0.3s ease;
  top: 100px; /* Ajusta la distancia desde la parte superior */
  right: 275px; /* Ajusta la distancia desde la derecha */
  display: inline-flex;
}

.btn-register-municipio{
  background-color: #007bff;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px ;
    border: #007bff;
    outline: none;
}
.btn-register-municipio:hover {
  background-color: #0056b3;
}


.close-modal-municipio{
  position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 4px;
}

.label-muni {
  position: absolute;
  top: 30%;
  left: 36px;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: transform 0.3s, font-size 0.3s, color 0.3s;
  color: black;
  
}
