.fondo-muestra {
  z-index: -26;
    position: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    margin: 0;
}

.main-content-registrar {
  font-family: Arial, sans-serif;
  /* background-color: #2980b9; */
  margin-left: 25%; ;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.formulario-muestra  {
  backdrop-filter: blur(10px);
  background-color: #fff;
  padding: 15px;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(30, 30, 30, 50%);
  border-bottom:1px black solid;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
}
.title-registrar-muestras{
  margin-bottom: 0px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 60px;
  font-size: 2.5em;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(30, 30, 30, 50%);
  border-bottom:1px black solid;  
  border: none;
}

.columna {
  flex: 1;
  margin-left: 30px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: white;
  font-size: 0.9em;
}

.input {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom:1px rgb(153, 151, 151) solid;
  color: white;
  outline: none;
}

.button {
  width: 115px;
  font-size: 1.3em;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  margin-left: 2px;
}
.button:hover{
  background-color: #2980b9;

}
.formulario-muestra input + label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 16px;
  pointer-events: none;
  transition: transform 0.3s, font-size 0.3s, color 0.3s;
}

.formulario-muestra input:focus + label,
.formulario-muestra input:not(:placeholder-shown) + label {
  transform: translateY(-100%) scale(1.2);
  font-size: 12px;
  color: rgb(255, 255, 255);
  top: 10px;
  transition: all 0.5s;
}

.container-input{
    position: relative;
    padding: 12px;


  }

/* ================================listar muestra===============================0

*/



.main-container{
  backdrop-filter: blur(10px);
  width: 100%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(30, 30, 30, 50%);
    border-bottom:1px black solid;
}

.table-muestra {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-muestra th,
.table-muestra td {
  padding: 8px;
  text-align: left;
  color: white;

}

.table-muestra  th {

  background-color: rgb(94, 79, 38);
}

.table-muestra  tr{
  background-color: transparent;
}
.table-muestra  td{
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
}
.icon:hover{
  color: yellow;

}



.modal-info{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.formulario-muestra{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.info-complete{
  
  backdrop-filter: blur(10px);

}
.value{
  color: white;
}
.container-label{  
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  margin-top: 10px;
}
.info-complete td{
  margin-left: 48px;

}
.label-modal{
  width: 70%;
  border-radius: 5px;
  background-color: rgb(94, 79, 38);

}


/* ==============================Editar mestra====================== */
.container-button{
  display: flex;
}
.handleEditUser1{
  height: 7px;
}