.title-variedad {
  color: #168A45;
  font: bold;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.bgr-v {
  background-color: rgb(234, 241, 243);
}

/* css de registrar variedad */

.btn-modi-variedad{
  color: white;
  background-color: #168A45;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-act-variedad {
  color: rgb(0, 0, 0);
  background-color: gainsboro;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-act-variedad:hover{
  color: white;
  background-color: #168A45;
}

.table-register-variedad {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
  max-height: 95%;
  max-width: 90%;
  /* Ajusta el ancho máximo según tus necesidades */
  width: 400px;
  /* Ajusta el ancho según tus necesidades */
  text-align: center;
  /* Centra el contenido */
}

.table-register-variedad h1 {
  color: #168A45;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 20px 0;
}

.table-register-variedad div {
  margin-bottom: 15px;
}

.table-register-variedad input {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px rgb(153, 151, 151) solid;
  color: rgb(0, 0, 0);
  outline: none;
}

.table-register-variedad input+label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: transform 0.3s, font-size 0.3s, color 0.3s;
  color: black;
}

/* Placeholder transformado al enfocar el campo */
.table-register-variedad input:focus+label,
.table-register-variedad input:not(:placeholder-shown)+label {
  transform: translateY(-100%) scale(1.2);
  font-size: 12px;
  color: rgb(255, 255, 255);
  top: 10px;
  transition: all 0.5s;
}

.btn-añadir-variedad {
  position: relative;
  padding: 6px 10px;
  color: white;
  background-color: #168A45;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  top: 30px;
  /* Ajusta la distancia desde la parte superior */
  left: 180px;
  /* Ajusta la distancia desde la derecha */
}


/* Efecto del placeholder */

/* Placeholder transformado al enfocar el campo */




/* css de el filtro de busqueda en variedad */

.div-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.fondo-modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.279);
  width: 100%;
  height: 100%;

}

.btn-register-variedad {
  color: white;
  background-color: #168A45;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  border: #007bff;
  outline: none;
}


.close-modal-variedad {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 4px;
}